---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "About"
---

<BaseLayout pageTitle={title}>
	<p>This section is about me hehehe. there are many things to learn, but you will learn mostly on my blog</p>
		<p>Aladin madafaka</p>
</BaseLayout>