---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Blog"
---

<BaseLayout pageTitle={title}>
	<p>you can read my first blog <a href="/post-1">HERE</a></p>
	<p>you can read my second blog <a href="/post-2">HERE</a></p>
	<p>you can read my third blog <a href="/post-3">HERE</a></p>
</BaseLayout>