---
import Navigation from "./Navigation.astro";
---

<style>
    nav {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
    }
  </style>

<header>
    <nav class="nav-links">
        <Navigation></Navigation>
    </nav>
</header>